<%- include(partialsPath+'/head') %>
<div class="main">
  <%- include(partialsPath+'/header') %>
  <div class="content">
    <% if (post) { %>
    <div class="post_detail">
      <div class="post_item">
        <h4><%= post.created_at %></h4>
        <img src="<%= `/public/assets/${post.image_url}` %>">
        <h2><%= post.title %></h2>
        <p class="post_content"><%= post.body %></p>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%- include(partialsPath+'/footer') %>