<% include ./partials/head %>
<div class="main">
  <% include ./partials/header %>
  <div class="content">
    <% if (posts.length != 0) { %>
    <div class="post_list">
      <% posts.forEach( function(post) { %>
      <a href="<%= `/blog/posts/${post.id}` %>">
        <div class="post_item">
          <h4><%= post.created_at %></h4>
          <img src="<%= `/public/assets/${post.image_url}` %>">
          <h2><%= post.title %></h2>
          <div class="short_desc"><%= post.short_desc %></div>
        </div>
      </a>
      <% }) %>
    </div>
    <% } %>
  </div>
</div>
<% include ./partials/footer %>