<% include ./partials/header %>
<nav>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <% if (Object.keys(apps).length != 0) { %>
    <% Object.keys(apps).forEach( function(app) { %>
      <a href="<%= `/${apps[app].appName}` %>"><%= apps[app].appName %></a>
    <% }) %>
  <% } %>
</nav>
<h2><%= `${owner.profile.first_name} ${owner.profile.last_name}` %></h2>
<% if (posts.length != 0) { %>
  <ul>
    <% posts.forEach( function(post) { %>
      <li>
        <h3>
          <a href="<%= `/blog/posts/${post.id}` %>">
            <%= post.title %>
          </a>
        </h3>
        <h5><%= post.created_at %></h5>
        <p><%= post.body %></p>
      </li>
    <% }) %>
  </ul>
<% } %>
<% include ./partials/footer %>